# zipped folders
*.zip

# databases
*.sqlite

# data text files
10min*.txt
produkt*.txt

# IDE project settings
.idea/*

# jupyter notebook checkpoints
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

# chaches
*.pyc